body {
    background-color: rgba(0, 0, 255, 0.7);
}

#box-1 {
    background-color: white;

    width: 320px;
    height: 320px;

    border-radius: 30px;
    
    margin: 32px;
}
#canva {

    border-radius: 30px 30px 35px 32px;
    border: 3px solid rgb(255, 0, 0);

}

#first {
    display: flex;
    flex-direction: row;
}

.inputs {
    display: flex;
    flex-direction: row;

    margin-top: 72px;

}

#inputsAndButt {
    display:flex;
    flex-direction: column;

    justify-content: space-between;

    margin-top: 32px;
}

.buttons {
    display: flex;
    flex-direction: row;

    margin-bottom: 72px;

}

.inputs, .buttons {
    margin-left: 48px;
}

#rgb, #hex {
    border: 1px solid transparent;
    outline: 0;
    border-bottom: 1px solid black;

    width: 120px;
    height: 48px;
}

.primeiro {
    display: flex;
    flex-direction: row;


}

#rigthButtons {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    margin: 32px 0px 0px 120px;
}

#rigthButtons button {

    width: 64px;
    height: 64px;

    border: 0px;

}
#bottomButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    margin: 48px 240px 0px 240px;

    border: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, rgba(0, 0, 0, 0.5), black);

    background: white;
}

#bottomButtons button {
    height: 64px;

    border: 0px;

}

#o01 {
    background-color: black;
    opacity: 0.1;


}

#o02 {
    background-color: black;
    opacity: 0.2;

}

#o03 {
    
    background-color: black;
    opacity: 0.3;
}

#o04 {
  

    background-color: black;
    opacity: 0.4;
}

#o05 {
 

    background-color: black;
    opacity: 0.5;
}

#o06 {
   

    background-color: black;
    opacity: 0.6;
}

#o07 {
  

    background-color: black;
    opacity: 0.7;
}

#o08 {
  

    background-color: black;
    opacity: 0.8;
}

#o09 {
    background-color: black;
    opacity: 0.9;
}