body {
    background-color: #100F0F;
}

#page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

#manual {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 72px 48px 0px 256px;
}

#painel canvas {
    border-radius: 128px;

    margin: 0px 0px 32px 0px;
}

.label {
    display: flex;
    flex-direction: row;

}

.code {
    background-color: #E2DCC8;

    height: 48px;
    width: 192px;

    border: 0px;
    padding: 0px 0px 0px 16px;
    margin: 8px 8px 8px 0px;

    border-radius: 0px 8px 8px 0px;

    outline: 0px;
    font-size: 24px;
    
}

.copy {
    height: 48px;
    width: 48px;

    background-color: #F1F1F1;
    border: 0px;
    margin-top: 8px;
    margin-left: 8px;

    border-radius: 8px 0px 0px 8px;
}

.copy img {
    height: 32px;
    width: 32px;
}

#paterns {
    max-width: 256px;
    max-height: 512px;

    margin-top: 72px;

    overflow: auto;
}

#paterns::-webkit-scrollbar {
    width: 12px;
}

#paterns::-webkit-scrollbar-track {
    background-color: #F1F1F1;
    border-radius: 16px;
}

#paterns::-webkit-scrollbar-thumb {
    background-color: #0F3D3E;
    border-radius: 16px;
}

.patern {
    height: 64px;
    width: 64px;
}